.Drop-Target {
  position: relative;
  margin: 0 auto;
  max-width: 350px;
  min-height: 400px;
  border: 2px dashed black;
  border-radius: 20px;
  background-color: #eee;
  background-image: url('/img/gray_hexgrid_2x.png');
  background-size: 48px 58px;
  color: black;
}
.Drop-Target p {
  position: relative;
}
