{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "plugin:react-perf/recommended"
  ],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "indent": ["error", 2],
    "semi": [2, "always"],
    "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 1}],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "comma-dangle": ["off"],
    "no-alert": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "no-console": ["error", {
      "allow": ["info", "warn", "error", "assert"]
    }],
    "no-unused-vars": ["error", {
      "vars": "local",
      "args": "after-used",
      "ignoreRestSiblings": false,
    }],
  },
  "plugins": [
    "react"
  ],
}
