.Bounty-Info {
  height: 100%;
  position: relative;
  width: 100%;
}

.Bounty-Info-Container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.Bounty-Info-Container > .File-List {
  background-color: #f5f5f5;
  border-right: 2px solid #dfdfdf;
  grid-column: 0;
  height: 100%;
}

.Bounty-Info-Assertions {
  grid-column: 1;
}
