.Button {
  background: #8500ff;
  border: 0;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  letter-spacing: 0.15em;
  line-height: 40px;
  margin-top: 20px;
  padding: 0 40px;
  text-decoration:none;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color 0.25s ease;
}

.Button:hover,
.Button:active {
  background-color: #7500e1;
  cursor: pointer;
}

.Button:focus {
  outline: 0;
}

.small {
  font-size: 12px;
  padding: 0 30px;
}

.remove {
  background: #fafafa;
  border-radius: 0;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  line-height: 20px;
  margin-top: 0;
  padding: 0 20px;
}

.remove:hover,
.remove:active {
  background: #fafafa;
  color: red;
}

.reverse {
  background: white;
  color: #8500ff;
}

.Button:disabled,
.Button:disabled:hover {
  background: white;
  border: 1px solid #eee;
  color: #eee;
  cursor: not-allowed;
}
