@keyframes lighten {
  0% { background-image: url('/img/gray_hexgrid_2x.png'); }
  100% { background-image: url('/img/hexgrid_2x.png'); }
}

@keyframes darken {
  0% { background-image: url('/img/hexgrid_2x.png'); }
  100% { background-image: url('/img/gray_hexgrid_2x.png'); }
}

.Drop-Target {
  animation-duration: 1s;
  animation-name: darken;
  background-color: #fafafa;
  background-image: url('/img/gray_hexgrid_2x.png');
  background-size: 48px 58px;
  border: 2px dashed black;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  display: table;
  height: 100%;
  min-width: 350px;
  position: relative;
  vertical-align: middle;
}

.Drop-Target > div {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}

p {
  display: inline-block;
  margin: 5px auto;
}

.drag {
  animation-duration: 1s;
  animation-name: lighten;
  background-image: url('/img/hexgrid_2x.png');
  cursor: copy;
}
