@keyframes lighten {
  0% { background-image: url('/img/gray_hexgrid_2x.png'); }
  100% { background-image: url('/img/hexgrid_2x.png'); }
}

@keyframes darken {
  0% { background-image: url('/img/hexgrid_2x.png'); }
  100% { background-image: url('/img/gray_hexgrid_2x.png'); }
}

.Drop-Target {
  animation-duration: 1s;
  animation-name: darken;
  background-color: #fbf2ff;
  background-size: 48px 58px;
  border: 2px dashed #8500ff;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  position: relative;
}

.Drop-Target > div {
  margin: 0 auto;
  padding: 0 20px;
}

.Drop-Target > div > p {
  display: inline-block;
  margin: 5px auto;
}

.drag {
  animation-duration: 1s;
  animation-name: lighten;
  background-image: url('/img/hexgrid_2x.png');
  cursor: copy;
}
