.ListItem {
  background-clip: border-box;
  box-sizing: border-box;
  height: 48px;
  line-height: 46px;
  width: 100%;
}

.ListItem:hover {
  background-color: rgba(0, 0, 0, .1);
}

.active {
  color: rgb(46, 255, 109);
  font-weight: bold;
}

.alert {
  background-color: rgb(46, 255, 109);
  float: left;
  height: 100%;
  width: 10px;
}

.ListItem-Name {
  float: left;
  margin: 0;
  padding-left: 10px;
}

.ListItem-Remove {
  float: right;
}

.redx {
  background: url('/img/red-x.svg');
  height: 48px;
}
