.ListItem {
  background-clip: border-box;
  border-bottom: 2px #eeeeee solid;
  box-sizing: border-box;
  height: 48px;
  line-height: 46px;
  margin: 0 10px;
  width: calc(100% - 20px);
}

.ListItem-Name {
  float: left;
  margin: 0;
}

.ListItem-Remove {
  float: right;
}
