.Bounty-Create {
  display: block;
  margin: 0 auto;
  position: relative;
}

.Container {
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 50vh 30vh 5vh 15vh;
  height: 100%;
  padding: 20px;
}

.Bounty-Create-Error {
  color: #ff1a00;
  grid-row: 3;
  width: 100%;
}

.Button {
  grid-row: 4;
  margin-top: 0;
  width: 100%;
}

.Progressbar {
  grid-row: 3;
  margin-top: 6px;
  width: 100%;
}
