.hidden {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

.hidden + label {
  background-color: rgb(46, 255, 109);
  border: 0;
  border-radius: 20px;
  color: #8500ff;
  cursor: pointer;
  display: inline-block;
  font-family: 'fabrick', sans-serif;
  font-size: 16px;
  height: 40px;
  letter-spacing: 0.15em;
  line-height: 40px;
  margin-top: 20px;
  max-width: 350px;
  padding: 0 40px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color 0.25s ease;
  z-index: 1;
}

.hidden + label:hover,
.hidden + label:active,
.hidden + .selected {
  animation-duration: .5s;
  animation-name: hover;
  background-color: #eeeeee;
}

@keyframes hover {
  0% {background-color: rgb(46, 255, 109);}
  100% {background-color: #eeeeee}
}
