.hidden {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.hidden + label {
  font-family: 'fabrick', sans-serif;
  display: inline-block;
  height: 40px;
  margin-top: 20px;
  padding: 0 40px;
  line-height: 40px;
  font-size: 16px;
  background: rgb(46, 255, 109);
  color: #8500ff;
  border: 0;
  border-radius: 20px;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.hidden + label:hover {
  background: #fafafa;
}

.hidden + label:active,
.hidden + label.selected {
  background: #e0e0e0;
}

.hidden:focus + label {
  background: #fafafa;
  outline: 1px solid rgb(46, 255, 109);
  outline: -webkit-focus-ring-color auto 5px;
}
