.Upload {
  background-color: #fafafa;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  max-width: 768px;
  position: relative;
}

.Container {
  display: grid;
  padding: 20px;
  grid-column-gap: 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 50px;
}
