.Header {
  align-items: center;
  background-color: #8500ff;
  box-shadow: 0 1px 1px black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.Header > h {
  display: inline;
}

.Header > button {
  border-radius: 2px;
  max-width: 120px;
  padding: 0;
}
