.Bounty-Create {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.Container {
  display: grid;
  grid-template-rows: 1fr 30px 40px;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.Container > .File-List {
  grid-column: 1;
  grid-row: 1 / 5;
}

.Container > .Drop-Target {
  grid-column: 2;
  grid-row: 1;
}

.Container > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.Bounty-Create-Error {
  color: #ff1a00;
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}

.Button {
  grid-column: 2;
  grid-row: 3;
  margin-top: 0;
  width: 100%;
}
