.Bounty-Info {
  height: 100%;
  position: relative;
  width: 100%;
}

.Bounty-Info-Container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.Bounty-Info-Container > .File-List {
  grid-column: 1;
}

.Bounty-Info-Assertions {
  grid-column: 2;
}
