.FileResult {
  width: 100%;
}

.FileResult-Indicator-Good {
  color: rgb(46, 255, 109);
  float: right;
}

.FileResult-Indicator-Warning {
  color: yellow;
  float: right;
}

.FileResult-Indicator-Bad {
  color: #ff1a00;
  float: right;
}

.FileResult-Name {
}
