.File-List-Header {
  border-bottom: 2px solid #dfdfdf;
  color: #8500ff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  line-height: 20px;
}

.File-List {
  background-color: #f5f5f5;
  border-right: 2px solid #dfdfdf;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.File-List-Title {
  padding-left: 15px;
}

.List {
  color: #000;
}

.File-List-Header > button {
  background-color: #ff1a00;
  box-sizing: border-box;
  color: white;
  margin-right: 15px;
  margin-top: 10px;
  max-width: 120px;
  padding: 0;
}

.File-List-Header > button:hover {
  background-color: #ff8c75;
}
