.Header {
  align-items: center;
  background-color: #f5f5f5;
  background-image: url('../img/gray_hexgrid_2x.png');
  background-size: 74px 85px;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  color: #8500ff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.Header > button {
  max-width: 120px;
  padding: 0;
}
