.ListItem {
  background-clip: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  height: 48px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.ListItem:hover {
  background-color: rgba(0, 0, 0, .1);
}

.active {
  color: rgb(46, 255, 109);
  font-weight: bold;
}

.alternate {
  background-color: rgba(0, 0, 0, .2);
  color: #8500ff;
  font-weight: bold;
}

.alert {
  background-color: rgb(46, 255, 109);
  display: inline-block;
  height: 100%;
  width: 10px;
}

.ListItem-Child {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  word-wrap: break-word;
}

.ListItem-Remove {
  z-index: 1;
}

.redx {
  height: 32px;
  margin-right: -3px;
}

.item-enter {
  opacity: 0.01;
}
.item-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}