.ModalContentHeader {
  background-color: #8500ff;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.ModalBackground {
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ModalContent {
  background-color: white;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-start;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  word-wrap: break-word;
  z-index: 2;
}

.Modal > .ModalContent > p {
  padding: 20px;

}

.Modal-Button-Bar {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.Modal-Button-Bar > button{
  float: right;
  margin-bottom: 5px;
  width: 110px;
}
