.Welcome {
  background-color: #b81301;
  background-image: url('../img/red_hexgrid_2x.png');
  background-size: 129px 149px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 100%;
  justify-content: center;
}

.Welcome-Jumbo {
  margin: 0 auto;
  max-width: 850px;
}

.Welcome-Jumbo > h1 {
  font-size: 3em;
  margin: 0;
}

.Welcome-Jumbo > h2 {
  font-size: 1.5em;
}

.Welcome-Jumbo > pre {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
  scroll-behavior: auto
}

.Welcome-Jumbo > button {
  background-color: white;
  color: #ff1a00;
  display: block;
  margin: 10px 0;
  max-width: 180px;
  padding: 0;
}

.Welcome-Jumbo > button:hover,
.Welcome-Jumbo > button:active {
  background-color: #dedede;
  color: #ff1a00;
}