.Sidebar {
  box-shadow: 1px 57px 1px black;
  display: inline-block;
  height: 100%;
  left: 0;
  max-width: 300px;
  position: relative;
  top: 0;
}

.Sidebar-Content {
  background-color: #fafafa;
  color: #000000;
  height: 100%;
  overflow: auto;
}

.Sidebar-Header > img {
  box-sizing: border-box;
  height: inherit;
  left: 0;
  padding: 0 10px;
  width: 75%;
}

.Sidebar-Header {
  background-color: #8500ff;
  display: block;
  height: 132px;
}
