header {
  border-bottom: 1px solid gray;
  color: #8500ff;
  font-size: 20px;
  line-height: 40px;
}

.FileList {
  background-color: #fafafa;
  border-radius: 20px;
  display: inline-block;
  min-height: 400px;
  min-width: 350px;
  overflow: auto;
  position: relative;
}
