.File-List-Header {
  align-items: center;
  border-bottom: 2px solid #8500ff;
  color: #8500ff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  line-height: 20px;
}

.File-List {
  display: inline-block;
  overflow: auto;
  position: relative;
}

.File-List-Title {
  padding-left: 15px;
}

.List {
  color: #000;
}

.File-List-Header > button {
  background-color: #ff1a00;
  color: white;
  float: right;
  margin-right: 15px;
  max-width: 120px;
  padding: 0;
}

.File-List-Header > button:hover {
  background-color: #ff8c75;
}
