.File-List-Header {
  border-bottom: 2px solid #350066;
  color: #7500ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
}

.File-List {
  background-color: #fafafa;
  border: 1px solid #8500ff;
  display: inline-block;
  overflow: auto;
  position: relative;
}

.File-List-Title {
  display: inline-block;
}

.List {
  color: #000;
}

.File-List-Header > button {
  background-color: #ff1a00;
  border-radius: 2px;
  color: white;
  float: right;
  margin-right: 15px;
  max-width: 120px;
  padding: 0;
}

.File-List-Header > button:hover {
  background-color: #ff8c75;
}
