.ModalBackground {
  background-color: #000000b0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ModalContent {
  background-color: white;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  left: 50%;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 2;
}

.ModalContent > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Modal-Button-Bar > button{
  float: right;
  width: 110px;
}

.ModalError {
  color: #ff1a00;
}
