.ModalBackground {
  background-color: #dededef0;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ModalContent {
  background-color: white;
  height: 400px;
  width: 600px;
  z-index: 2;
}

.ModalError {
  color: #ff1a00;
}
